@page "/docTemplate/classic"
@using PeterDoStuff.Extensions
@using static PeterDoStuff.MudWasmHosted.Client.Pages.DocTemplate.DocTemplateController
@layout EmptyLayout
@inject IJSRuntime JSRuntime

<PageTitle>@(Model?.Person?.Name ?? "Resume")</PageTitle>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-size: 1em;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.25em;
        }

        h4 {
            font-size: 1.10em;
        }

        .sub {
            font-size: 1em;
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            width: 21cm;
            height: 29.7cm;;
        }

    </style>
</head>
<body>
    <page size="A4">
        <div class="d-flex justify-center flex-grow-1 gap-4">
            <h1>@Model.Person.Name</h1>
        </div>
        <div class="d-flex justify-center align-center flex-grow-1 gap-4">
            |
            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" /> @Model.Location
            |
            <MudIcon Icon="@Icons.Custom.Brands.WhatsApp" Size="Size.Small" /> @Model.PhoneNumber
            |
            <MudIcon Icon="@Icons.Material.Filled.Language" Size="Size.Small" /> @Model.Fluency
            |
            <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Small" /> 
            <a href="@($"mailto:{Model.Email}")">
                @Model.Email
            </a>
            |
        </div>
        <div class="d-flex justify-center align-center flex-grow-1 gap-4">
            |
            <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Small" />
            <a href="@Model.LinkedIn.Url">
                @Model.LinkedIn.TextOrUrl()
            </a>
            |
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" />
            <a href="@Model.GitHub.Url">
                @Model.GitHub.TextOrUrl()
            </a>
            |
            @for (int i = 0; i < Model.OtherLinks.Count; i++)
            {
                var otherLink = Model.OtherLinks[i];
                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftAzure" Size="Size.Small" />
                <a href="@otherLink.Url">
                    @otherLink.TextOrUrl()
                </a>
                <span>|</span>
            }
        </div>
            <hr/>
            <div class="body">
                <div class="section">
                    <div class="sectionTitle">
                        <h2>
                            <i class="fa fa-user"></i>
                            About me
                        </h2>
                    </div>
                    <div class="sectionItem">
                        @foreach (var paragraphRef in Model.AboutMe.ToParagraphs())
                        {
                            var paragraph = paragraphRef;
                            <p>@paragraph</p>
                        }
                    </div>
                </div>
            </div>
            <hr/>
            <div class="body">
                <div class="section">
                    <div class="sectionTitle">
                        <h2>
                            <i class="fa fa-suitcase"></i>
                            Experience
                        </h2>
                    </div>
                    <div class="entitySection">
                        @foreach (var experienceRef in Model.Experiences)
                        {
                            var experience = experienceRef;
                            <div class="entityAvatar">
                                @if (experience.Company.PhotoType != PhotoType.None)
                                {
                                    <img width="50" src="@experience.Company.PhotoSrc()" />
                                }
                                else
                                {
                                    <i class="fa fa-suitcase"></i>
                                }
                            </div>
                            <div class="sectionItem">
                                <h3>@experience.Company.Name</h3>
                                @foreach (var experienceItemRef in experience.Items)
                                {
                                    var item = experienceItemRef;
                                    <h4>@item.Position</h4>
                                    <div class="sub">@item.From.MonthYearOrPresent() - @item.To.MonthYearOrPresent()</div>
                                    <p>
                                        <ul>
                                            @foreach (var paragraphRef in item.Description.ToParagraphs())
                                            {
                                                var paragraph = paragraphRef;
                                                <li>@paragraph</li>
                                            }
                                        </ul>
                                    </p>
                                }
                            </div>  
                        }
                    </div>
                </div>
                <div class="section">
                    <div class="sectionTitle">
                        <h2>
                            <i class="fa fa-graduation-cap"></i>
                            Education
                        </h2>
                    </div>
                    <div class="entitySection">
                        @foreach (var educationRef in Model.Educations)
                        {
                            var education = educationRef ;
                            <div class="entityAvatar">
                                @if (education.Institution.PhotoType != PhotoType.None)
                                {
                                    <img width="50" src="@education.Institution.PhotoSrc()" />
                                }
                                else
                                {
                                    <i class="fa fa-graduation-cap"></i>
                                }
                            </div>
                            <div class="sectionItem">
                                <h3>@education.Institution.Name</h3>
                                <h4>
                                    @{
                                        var degreeParagraphs = education.Degree.ToParagraphs();
                                    }
                                    @for (int i = 0; i < degreeParagraphs.Length; i++)
                                    {                                        
                                        var paragraph = degreeParagraphs[i];
                                        @if (i > 0)
                                        {
                                            <br />
                                        }
                                        @paragraph
                                    }
                                </h4>
                                <div class="sub">@education.From.MonthYearOrPresent() - @education.To.MonthYearOrPresent()</div>
                                <p>
                                    <ul>
                                        @foreach (var paragraphRef in education.Description.ToParagraphs())
                                        {
                                            var paragraph = paragraphRef;
                                            <li>@paragraph</li>
                                        }
                                    </ul>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <hr/>
            <div class="section">
                <div class="sectionTitle">
                    <h2>
                        <i class="fa fa-solid fa-wrench"> </i>
                        Skills
                    </h2>
                </div>
                @foreach (var groupRef in Model.Skills.GroupBy(skill => skill.Group))
                {
                    var group = groupRef;
                    <h3>@group.Key</h3>
                    <div class="skillGrid">
                        @foreach (var levelGroupRef in group.GroupBy(skill => skill.Level).OrderByDescending(g => g.Key))
                        {
                            var levelGroup = levelGroupRef;
                            var level = levelGroup.Key;
                            <h4>
                                @for (int i = 0; i < level; i++)
                                {
                                    <i class="fa fa-solid fa-star"> </i>
                                }
                            </h4>
                            <div>@levelGroup.Select(skill => skill.Name).Join(", ")</div>
                        }
                    </div>
                }
            </div>
        </page>
    </body>
</html>

@code {
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JSRuntime.InvokeVoidAsync("clearLayoutStyle");
    //     }
    // }

    [Parameter]
    public Resume Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // Retrieve the serialized model from sessionStorage
        var json = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "resumeModel");

        if (!string.IsNullOrWhiteSpace(json))
        {
            Model = json.FromJson<Resume>();
        }
    }
}
