@page "/docTemplate/classic"
@using PeterDoStuff.Extensions
@using static PeterDoStuff.MudWasmHosted.Client.Pages.DocTemplate.DocTemplateController
@layout EmptyLayout
@inject IJSRuntime JSRuntime

<PageTitle>@(Model?.Person?.Name ?? "Resume")</PageTitle>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-size: 1em;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.25em;
        }

        h3 {
            font-size: 1.10em;
        }

        h4 {
            font-size: 1em;
        }

        .sub {
            font-size: 0.9em;
            font-style: italic;
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            width: 21cm;
            height: 29.7cm;;
        }

        p {
            padding-block-end: 0.5em;
        }

        ul {
            list-style-type: disc;
            margin-left: 1em;
        }

    </style>
</head>
<body>
    <page size="A4">
        <div class="d-flex justify-center flex-grow-1 gap-4">
            <h1>@Model.Person.Name</h1>
        </div>
        <div class="d-flex justify-center align-center flex-grow-1 gap-4">
            |
            <MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" /> @Model.Location
            |
            <MudIcon Icon="@Icons.Custom.Brands.WhatsApp" Size="Size.Small" /> @Model.PhoneNumber
            |
            <MudIcon Icon="@Icons.Material.Filled.Language" Size="Size.Small" /> @Model.Fluency
            |
            <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Small" /> 
            <a href="@($"mailto:{Model.Email}")">
                @Model.Email
            </a>
            |
        </div>
        <div class="d-flex justify-center align-center flex-grow-1 gap-4">
            |
            <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Small" />
            <a href="@Model.LinkedIn.Url">
                @Model.LinkedIn.TextOrUrl()
            </a>
            |
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" />
            <a href="@Model.GitHub.Url">
                @Model.GitHub.TextOrUrl()
            </a>
            |
            @for (int i = 0; i < Model.OtherLinks.Count; i++)
            {
                var otherLink = Model.OtherLinks[i];
                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftAzure" Size="Size.Small" />
                <a href="@otherLink.Url">
                    @otherLink.TextOrUrl()
                </a>
                <span>|</span>
            }
        </div>
        <h2 class="d-flex align-center flex-grow-1 gap-4 mt-2">
            <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" />
            About me
        </h2>
        @foreach (var paragraphRef in Model.AboutMe.ToParagraphs())
        {
            var paragraph = paragraphRef;
            <p>@paragraph</p>
        }
        <h2 class="d-flex align-center flex-grow-1 gap-4 mt-2">
            <MudIcon Icon="@Icons.Material.Filled.Work" Size="Size.Small" />
            Experience
        </h2>
        @foreach (var experienceRef in Model.Experiences)
        {
            var experience = experienceRef;
            <h3>@experience.Company.Name</h3>
            @foreach (var experienceItemRef in experience.Items)
            {
                var item = experienceItemRef;
                <div class="d-flex justify-space-between flex-grow-1 gap-4">
                    <h4>@item.Position</h4>
                    <div class="sub">@item.From.MonthYearOrPresent() - @item.To.MonthYearOrPresent()</div>
                </div>
                <ul>
                    @foreach (var paragraphRef in item.Description.ToParagraphs())
                    {
                        var paragraph = paragraphRef;
                        <li>@paragraph</li>
                    }
                </ul>
            }
        }
        <h2 class="d-flex align-center flex-grow-1 gap-4 mt-2">
            <MudIcon Icon="@Icons.Material.Filled.School" Size="Size.Small" />
            Education
        </h2>
        @foreach (var educationRef in Model.Educations)
        {
            var education = educationRef;
            <h3>@education.Institution.Name</h3>
            <div class="d-flex justify-space-between flex-grow-1 gap-4">
                <h4>@education.Degree.ToOneLine()</h4>
                <div class="sub">@education.From.MonthYearOrPresent() - @education.To.MonthYearOrPresent()</div>
            </div>
            <p>
                <ul>
                    @foreach (var paragraphRef in education.Description.ToParagraphs())
                    {
                        var paragraph = paragraphRef;
                        <li>@paragraph</li>
                    }
                </ul>
            </p>
        }
        <h2 class="d-flex align-center flex-grow-1 gap-4 mt-2">
            <MudIcon Icon="@Icons.Material.Filled.Build" Size="Size.Small" />
            Skills
        </h2>
        @foreach (var groupRef in Model.Skills.GroupBy(skill => skill.Group))
        {
            var group = groupRef;
            <MudGrid>
                <MudItem xs="4">
                    <h3>@group.Key:</h3>
                </MudItem>
                <MudItem xs="8">
                    <div>
                        @{
                            var skills = group.OrderByDescending(skill => skill.Level).ToList();
                        }
                        @for (int i = 0; i < skills.Count; i++)
                        {
                            var skill = skills[i];
                            if (i > 0)
                            {
                                <span>, </span>
                            }
                            if (skill.Level > 1)
                            {
                                <b>@skill.Name</b>
                            }
                            else
                            {
                                @skill.Name
                            }
                        }
                    </div>
                </MudItem>
            </MudGrid>
        }
    </page>
</body>
</html>

@code {
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JSRuntime.InvokeVoidAsync("clearLayoutStyle");
    //     }
    // }

    [Parameter]
    public Resume Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // Retrieve the serialized model from sessionStorage
        var json = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "resumeModel");

        if (!string.IsNullOrWhiteSpace(json))
        {
            Model = json.FromJson<Resume>();
        }
    }
}
