@page "/estimator"
@using PeterDoStuff.Extensions
@using PeterDoStuff.MudWasmHosted.Client.Extensions
@using System.Text
@using static PeterDoStuff.MudWasmHosted.Client.Pages.Estimator.Controller
@inject IJSRuntime JS

<PlaygroundTitle Page="estimator" />
<MudScrollToTop>
    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>

@{
    var sdFactor = ConfidenceIntervalMaps[ConfidenceInterval];
}

<MudTable Items="NewProject.Tasks" Breakpoint="Breakpoint.Xs" Dense="true"
    GroupBy="_groupDefinition"
    GroupHeaderStyle="background-color:var(--mud-palette-background-gray)"
    GroupFooterClass="mb-4"
    RowEditCommit="RowEditCommit">
    <HeaderContent>
        <MudTh>Task</MudTh>
        <MudTh>Average (E)</MudTh>
        <MudTh>Error (SD)</MudTh>
        <MudTh>@($"{ConfidenceInterval}% Confidence Interval")</MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        @{
            var groupName = NewProject.Groups[(int)context.Key];
            var groupTasks = NewProject.Tasks.Where(t => t.GroupIndex == (int)context.Key);
            var groupExpectedValue = groupTasks.Select(t => t.ExpectedValue).CalculateE();
            var groupStandardDeviation = groupTasks.Select(t => t.StandardDeviation).CalculateSD();
            
            var from = groupExpectedValue - sdFactor * groupStandardDeviation;
            var to = groupExpectedValue + sdFactor * groupStandardDeviation;
            var groupCI = $"{from.RoundBy(0.01M)} - {to.RoundBy(0.01M)}";
        }
        <MudTd DataLabel="Group" Class="mud-table-cell-custom-group">
            <MudText Color="Color.Primary">@groupName</MudText>
        </MudTd>
        <MudTd DataLabel="Average (E)" Class="mud-table-cell-custom-group">
            <MudText Color="Color.Primary">@groupExpectedValue.RoundBy(0.01M)</MudText>
        </MudTd>
        <MudTd DataLabel="Error (SD)" Class="mud-table-cell-custom-group">
                <MudText Color="Color.Primary">@groupStandardDeviation.RoundBy(0.01M)</MudText>
        </MudTd>
        <MudTd DataLabel="@($"{ConfidenceInterval}% Confidence Interval")" Class="mud-table-cell-custom-group">
            <MudText Color="Color.Primary">@groupCI</MudText>
        </MudTd>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Task">
            @context.Name
        </MudTd>
        <MudTd DataLabel="Average (E)">@context.ExpectedValue.RoundBy(0.01M)</MudTd>
        <MudTd DataLabel="Error (SD)">@context.StandardDeviation.RoundBy(0.01M)</MudTd>
        <MudTd DataLabel="@($"{ConfidenceInterval}% Confidence Interval")">
            @context.ConfidenceInterval(ConfidenceInterval)
        </MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd colspan="3">
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField @bind-Value="context.Name" Variant="Variant.Outlined" Label="Task" />
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudSelect Variant="Variant.Outlined" Label="Estimate Type" @bind-Value="context.Type">
                        @{
                            var typesToSelect = context.GroupIndex == 0 ? EstimateTypesWithoutPercentage : EstimateTypes;
                        }
                        @for (int k = 0; k < typesToSelect.Length; k++)
                        {
                            var value = typesToSelect[k];
                            var text = value.ToString();
                            <MudSelectItem Value="value">
                                <MudText>@text</MudText>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                @if (context.Type == EstimateType.Fixed)
                {
                    <MudItem xs="6" md="4">
                        <MudNumericField @bind-Value="context.ExpectedValue" Label="Value" Variant="Variant.Outlined" Step=".5M" />
                    </MudItem>
                    <MudItem xs="6" md="4">
                        <MudNumericField @bind-Value="context.StandardDeviation" Label="Error" Variant="Variant.Outlined" Step=".1M" />
                    </MudItem>
                }
                @if (context.Type == EstimateType.ThreePoint)
                {
                    <MudItem xs="4" md="3">
                        <MudNumericField @bind-Value="context.Best" Label="Best (a)" Variant="Variant.Outlined" Step=".5M" />
                    </MudItem>
                    <MudItem xs="4" md="3">
                        <MudNumericField @bind-Value="context.Likely" Label="Likely (m)" Variant="Variant.Outlined" Step=".5M" />
                    </MudItem>
                    <MudItem xs="4" md="3">
                        <MudNumericField @bind-Value="context.Worst" Label="Worst (b)" Variant="Variant.Outlined" Step=".5M" />
                    </MudItem>
                }
                @if (context.Type == EstimateType.Percentage)
                {
                    <MudItem xs="6" md="4">
                        <MudNumericField @bind-Value="context.Percentage" Label="%" Variant="Variant.Outlined" Step="5M" />
                    </MudItem>
                    <MudItem xs="6" md="4">
                        <MudSelect Label="Group" Variant="Variant.Outlined" @bind-Value="context.PercentageByGroupIndex">
                            @for (int k = 0; k < context.GroupIndex; k++)
                            {
                                var value = k;
                                var group = NewProject.Groups[k];
                                <MudSelectItem Value="value">
                                    <MudText>@group</MudText>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                }
            </MudGrid>
        </MudTd>
    </RowEditingTemplate>
    <FooterContent>

    </FooterContent>
</MudTable>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="SwitchMode" Class="my-2">
    @(ViewMode ? "Edit" : "Calculate")
</MudButton>

@if (ViewMode)
{
    <MudGrid Class="mb-2">
        <MudItem xs="6" md="3">
            <MudSelect @bind-Value="ConfidenceInterval" Variant="Variant.Outlined" Label="Confidence Interval">
                @foreach (var keyRef in ConfidenceIntervalMaps.Keys)
                {
                    var key = keyRef;
                    <MudSelectItem Value="key">@($"{key}%")</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
    
    <MudTable Items="Project.ToViewRows()" Breakpoint="Breakpoint.Xs" Dense="true">
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh>Average (E)</MudTh>
            <MudTh>Error (SD)</MudTh>
            <MudTh>@($"{ConfidenceInterval}% Confidence Interval")</MudTh>
        </HeaderContent>
        <RowTemplate>
            @{
                var color = context.Project != null ? Color.Secondary : context.Group != null ? Color.Primary : Color.Default;
                var typo = context.Project != null ? Typo.h6 : context.Group != null ? Typo.body1 : Typo.body1;
            }
            <MudTd>
                @if (context.Project != null)
                {
                    <MudText Typo="typo" Color="color">@context.Project.Name</MudText>
                }
                @if (context.Group != null)
                {
                    <MudText Typo="typo" Color="color">@context.Group.Name</MudText>
                }
                @if (context.Task != null)
                {
                    <MudText Typo="typo" Color="color">@context.Task.Description</MudText>
                    <MudText Typo="Typo.caption" Color="color">
                        @context.Task.Caption(Project)
                    </MudText>
                }
            </MudTd>
            <MudTd DataLabel="Average (E)"><MudText Typo="typo" Color="color">@context.ExpectedValue</MudText></MudTd>
            <MudTd DataLabel="Error (SD)"><MudText Typo="typo" Color="color">@context.StandardDeviation</MudText></MudTd>
            <MudTd DataLabel="@($"{ConfidenceInterval}% Confidence Interval")"><MudText Typo="typo" Color="color">
                @context.ConfidenceInterval(ConfidenceInterval)
            </MudText></MudTd>
        </RowTemplate>
    </MudTable>    
}
else
{
    <div>
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Download"
                   OnClick="DownloadJson">
            Save Project
        </MudButton>
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadJson" Class="ma-0 d-inline pa-1">
            <ButtonTemplate>
                <MudButton Variant="Variant.Filled" Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Upload"
                           for="@context.Id" HtmlTag="label">
                    Load Project
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CleaningServices"
                   OnClick="SampleProject">
            Sample Project
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CleaningServices"
                   OnClick="ClearProject">
            Empty Project
        </MudButton>
    </div>

    <EditForm Model="@Project">
        <MudGrid>
            <MudItem xs="12">
                <MudTextField Label="Project Name" Variant="Variant.Outlined" @bind-Value="Project.Name" For="@(() => Project.Name)"></MudTextField>
            </MudItem>
            @* <MudItem xs="6" md="3">
                <MudNumericField @bind-Value="Project.RoundStep" Label="Round By" Variant="Variant.Outlined" />
            </MudItem> *@
            @for (int i = 0; i < Project.Groups.Count; i++)
            {
                var groupIndex = i;
                var group = Project.Groups[i];
                <MudItem xs="12" md="1">
                    <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete"
                                   OnClick="() => Project.Groups.Remove(group)"></MudIconButton>
                </MudItem>
                <MudItem xs="12" md="11">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudTextField Label="Group Name" Variant="Variant.Outlined" @bind-Value="group.Name" For="@(() => group.Name)"></MudTextField>
                        </MudItem>
                        @for (int j = 0; j < group.Tasks.Count; j++)
                        {
                            var task = group.Tasks[j];
                            <MudItem xs="6" md="3">
                                <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete"
                                               OnClick="() => group.Tasks.Remove(task)"></MudIconButton>
                                <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.ArrowCircleUp"
                                               OnClick="() => group.Tasks.MoveUp(task)"></MudIconButton>
                                <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.ArrowCircleDown"
                                               OnClick="() => group.Tasks.MoveDown(task)"></MudIconButton>
                            </MudItem>
                            <MudItem xs="6" md="9">
                                <MudTextField Label="Task Description" Lines="3" Variant="Variant.Outlined" @bind-Value="task.Description" For="@(() => task.Description)"></MudTextField>
                            </MudItem>
                            <MudItem xs="12">
                                <MudSelect Variant="Variant.Outlined" Label="Estimate Type" @bind-Value="task.EstimateType">
                                    @{
                                        var typesToSelect = groupIndex == 0 ? EstimateTypesWithoutPercentage : EstimateTypes;
                                    }
                                    @for (int k = 0; k < typesToSelect.Length; k++)
                                    {
                                        var value = typesToSelect[k];
                                        var text = value.ToString();
                                        <MudSelectItem Value="value">
                                            <MudText>@text</MudText>
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            @if (task.EstimateType == EstimateType.Fixed)
                            {
                                <MudItem xs="6">
                                    <MudNumericField @bind-Value="task.FixedEstimate.Value" Label="Value" Variant="Variant.Outlined" Step=".5M" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudNumericField @bind-Value="task.FixedEstimate.Error" Label="Error" Variant="Variant.Outlined" Step=".1M" />
                                </MudItem>
                            }
                            @if (task.EstimateType == EstimateType.ThreePoint)
                            {
                                <MudItem xs="4">
                                    <MudNumericField @bind-Value="task.ThreePointEstimate.Best" Label="Best (a)" Variant="Variant.Outlined" Step=".5M" />
                                </MudItem>
                                <MudItem xs="4">
                                    <MudNumericField @bind-Value="task.ThreePointEstimate.Likely" Label="Likely (m)" Variant="Variant.Outlined" Step=".5M" />
                                </MudItem>
                                <MudItem xs="4">
                                    <MudNumericField @bind-Value="task.ThreePointEstimate.Worst" Label="Worst (b)" Variant="Variant.Outlined" Step=".5M" />
                                </MudItem>
                            }
                            @if (task.EstimateType == EstimateType.Percentage)
                            {
                                <MudItem xs="3">
                                    <MudNumericField @bind-Value="task.PercentageEstimate.Percentage" Variant="Variant.Outlined" Step="5M" />
                                </MudItem>
                                <MudItem xs="3" Class="d-flex align-center">
                                    <MudText>% of</MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudSelect Variant="Variant.Outlined" @bind-Value="task.PercentageEstimate.GroupIndex">
                                        @for (int k = 0; k < groupIndex; k++)
                                        {
                                            var value = k;
                                            var group = Project.Groups[k];
                                            <MudSelectItem Value="value">
                                                <MudText>@group.Name</MudText>
                                            </MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                            }
                        }
                        <MudItem xs="12">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       OnClick="() => group.Tasks.Add(new(group.Tasks.Count + 1))">Task</MudButton>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            }
            <MudItem xs="12">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2"
                           StartIcon="@Icons.Material.Filled.Add"
                           OnClick="() => Project.Groups.Add(new(Project.Groups.Count + 1))">Group</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
}

@code {
    private TableGroupDefinition<NewTask> _groupDefinition = new()
    {
        GroupName = "Group",
        Indentation = false,
        Expandable = true,
        IsInitiallyExpanded = true,
        Selector = (e) => e.GroupIndex
    };

    private Project Project = Controller.SampleProject();
    private NewProject NewProject = Controller.SampleNewProject().CalculateTasks();
    private void RowEditCommit(object rowObject)
    {
        NewProject.CalculateTasks();
    }

    private readonly EstimateType[] EstimateTypes 
        = Enum.GetValues(typeof(EstimateType)).Cast<EstimateType>()
        .ToArray();

    private readonly EstimateType[] EstimateTypesWithoutPercentage
        = Enum.GetValues(typeof(EstimateType)).Cast<EstimateType>()
        .Where(et => et != EstimateType.Percentage)
        .ToArray();

    private bool ViewMode = false;

    private void SwitchMode()
    {
        ViewMode = !ViewMode;
        if (ViewMode == true)
            Project.Calculate(Project);
    }

    private decimal ConfidenceInterval = 95;

    private async Task DownloadJson()
    {
        string fileName = (Project.Name ?? "") + " - Estimates.json";
        using MemoryStream csvFileStream = new MemoryStream(
            Encoding.UTF8.GetBytes(Project.ToJson(beautify: true)));
        using var streamRef = new DotNetStreamReference(stream: csvFileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName.Trim(), streamRef);
    }

    private async Task UploadJson(IBrowserFile file)
    {
        using MemoryStream inputFileStream = new MemoryStream();
        await file.OpenReadStream(file.Size).CopyToAsync(inputFileStream);
        inputFileStream.Position = 0;
        using StreamReader reader = new StreamReader(inputFileStream, Encoding.UTF8);
        string json = reader.ReadToEnd();
        Project = json.FromJson<Project>();
    }


    private void SampleProject()
    {
        Project = Controller.SampleProject();
    }

    private void ClearProject()
    {
        Project = new();
    }
}
