@page "/estimator"
@using PeterDoStuff.Extensions
@using PeterDoStuff.MudWasmHosted.Client.Extensions
@using System.Text
@using static PeterDoStuff.MudWasmHosted.Client.Pages.Estimator.Controller
@inject IJSRuntime JS

<PlaygroundTitle Page="estimator" />
<MudScrollToTop>
    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>

@{
    var sdFactor = ConfidenceIntervalMaps[ConfidenceInterval];
}

<div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.Download"
               OnClick="DownloadJson">
        Save Project
    </MudButton>
    <MudFileUpload T="IBrowserFile" FilesChanged="UploadJson" Class="ma-0 d-inline pa-1">
        <ButtonTemplate>
            <MudButton Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Upload"
                       for="@context.Id" HtmlTag="label">
                Load Project
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
    <MudButton Variant="Variant.Filled" Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.CleaningServices"
               OnClick="SampleProject">
        Sample Project
    </MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.CleaningServices"
               OnClick="ClearProject">
        Empty Project
    </MudButton>
</div>

<MudGrid Class="my-2">
    <MudItem xs="6" md="9">
        <MudTextField @bind-Value="@Project.Name" Label="Project Name" Variant="Variant.Outlined"/>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudSelect @bind-Value="ConfidenceInterval" Variant="Variant.Outlined" Label="Confidence Interval">
            @foreach (var keyRef in ConfidenceIntervalMaps.Keys)
            {
                var key = keyRef;
                <MudSelectItem Value="key">@($"{key}%")</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12">
        <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="() => _table.ExpandAllGroups()">Expand All</MudButton>
        <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="() => _table.CollapseAllGroups()">Collapse All</MudButton>
    </MudItem>
</MudGrid>

<MudTable @ref="_table"
    Items="Project.Tasks" Breakpoint="Breakpoint.Xs" Dense="true"
    GroupBy="_groupDefinition"
    GroupFooterClass="mb-4">
    <HeaderContent>
        <MudTh>Task</MudTh>
        <MudTh>@ExpectedValueLabel</MudTh>
        <MudTh>@StandardDeviationLabel</MudTh>
        <MudTh>@ConfidenceIntervalLabel</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        @{
            var groupIndex = (int)context.Key;
            var groupName = Project.Groups[groupIndex];
            var groupTasks = Project.Tasks.Where(t => t.GroupIndex == groupIndex);
            var groupExpectedValue = groupTasks.Select(t => t.ExpectedValue).CalculateE();
            var groupStandardDeviation = groupTasks.Select(t => t.StandardDeviation).CalculateSD();
            
            var from = groupExpectedValue - sdFactor * groupStandardDeviation;
            var to = groupExpectedValue + sdFactor * groupStandardDeviation;
            var groupCI = $"{from.RoundBy(0.01M)} - {to.RoundBy(0.01M)}";
        }
        <MudTd DataLabel="Group" Class="mud-table-cell-custom-group">
            <MudText Color="Color.Primary">@groupName</MudText>
        </MudTd>
        <MudTd DataLabel="@ExpectedValueLabel" Class="mud-table-cell-custom-group">
            <MudText Color="Color.Primary">@groupExpectedValue.RoundBy(0.01M)</MudText>
        </MudTd>
        <MudTd DataLabel="@StandardDeviationLabel" Class="mud-table-cell-custom-group">
                <MudText Color="Color.Primary">@groupStandardDeviation.RoundBy(0.01M)</MudText>
        </MudTd>
        <MudTd DataLabel="@ConfidenceIntervalLabel" Class="mud-table-cell-custom-group">
            <MudText Color="Color.Primary">@groupCI</MudText>
        </MudTd>
        <MudTd>
            <MudMenu Size="Size.Small" Color="Color.Primary" Icon="@Icons.Material.Filled.KeyboardArrowDown">
                <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Add" IconColor="Color.Success" OnClick="() => Project.AddTask(groupIndex)">Add Task</MudMenuItem>
                <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Primary" OnClick="() => OpenRenameGroup(groupIndex)">Rename Group</MudMenuItem>
                <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="() => Project.DeleteGroup(groupIndex)">Remove Group</MudMenuItem>
            </MudMenu>
        </MudTd>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Task">
            <MudText>@context.Name</MudText>
            <MudText Typo="Typo.caption">@context.Caption(Project)</MudText>
        </MudTd>
        <MudTd DataLabel="@ExpectedValueLabel">@context.ExpectedValue.RoundBy(0.01M)</MudTd>
        <MudTd DataLabel="@StandardDeviationLabel">@context.StandardDeviation.RoundBy(0.01M)</MudTd>
        <MudTd DataLabel="@ConfidenceIntervalLabel">
            @context.ConfidenceInterval(ConfidenceInterval)
        </MudTd>
        <MudTd>
            <MudMenu Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowDown">
                <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="() => OpenEditTask(context)">Edit Task</MudMenuItem>
                @if (Project.Tasks.Count(t => t.GroupIndex == context.GroupIndex) > 1)
                {
                    <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="() => Project.DeleteTask(context)">Remove Task</MudMenuItem>
                }
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <FooterContent>
        <MudTd>
            <MudText Color="_summaryColor"><b>Summary:</b></MudText>
        </MudTd>
        <MudTd DataLabel="@ExpectedValueLabel">
            <MudText Color="_summaryColor">@Project.ExpectedValue.RoundBy(0.01M)</MudText>
        </MudTd>
        <MudTd DataLabel="@StandardDeviationLabel">
            <MudText Color="_summaryColor">@Project.StandardDeviation.RoundBy(0.01M)</MudText>
        </MudTd>
        <MudTd DataLabel="@ConfidenceIntervalLabel">
            <MudText Color="_summaryColor">@Project.ConfidenceInterval(ConfidenceInterval)</MudText>
        </MudTd>
    </FooterContent>
</MudTable>

<MudBreakpointProvider>
    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
        <MudText Typo="Typo.h5" Color="_summaryColor">Summary:</MudText>
        <MudText Color="_summaryColor"><b>@ExpectedValueLabel:</b> @Project.ExpectedValue.RoundBy(0.01M)</MudText>
        <MudText Color="_summaryColor"><b>@StandardDeviationLabel:</b> @Project.StandardDeviation.RoundBy(0.01M)</MudText>
        <MudText Color="_summaryColor"><b>@ConfidenceIntervalLabel:</b> @Project.ConfidenceInterval(ConfidenceInterval)</MudText>
    </MudHidden>
</MudBreakpointProvider>

<MudButton 
    Class="mt-2"
    Variant="Variant.Filled"
    StartIcon="@Icons.Material.Filled.Add" 
    Color="Color.Primary"
    OnClick="() => Project.AddGroup()">
    Add Group
</MudButton>

<MudDialog @bind-IsVisible="_groupRenameDialog" Options="_groupRenameDialogOptions">
    <DialogContent>
        <MudTextField @bind-Value="Project.Groups[_groupIndexToRename]" Variant="Variant.Outlined" Label="Group Name" />
    </DialogContent>
</MudDialog>

<MudDialog @bind-IsVisible="_taskEditDialog" Options="_taskEditDialogOptions">
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="TaskEditCommit" Class="px-10">Update</MudButton>
    </DialogActions>
    <DialogContent>
        @{
            var context = _taskEdit;
        }
        <MudGrid>
            <MudItem xs="12">
                <MudTextField @bind-Value="context.Name" Variant="Variant.Outlined" Label="Task" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudSelect Variant="Variant.Outlined" Label="Estimate Type" @bind-Value="context.Type">
                    @{
                    var typesToSelect = context.GroupIndex == 0 ? EstimateTypesWithoutPercentage : EstimateTypes;
                }
                @for (int k = 0; k < typesToSelect.Length; k++)
                {
                    var value = typesToSelect[k];
                    var text = value.ToString();
                    <MudSelectItem Value="value">
                        <MudText>@text</MudText>
                        </MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        @if (context.Type == EstimateType.Fixed)
        {
            <MudItem xs="6" md="4">
                <MudNumericField @bind-Value="context.ExpectedValue" Label="Value" Variant="Variant.Outlined" Step=".5M" />
            </MudItem>
            <MudItem xs="6" md="4">
                <MudNumericField @bind-Value="context.StandardDeviation" Label="Error" Variant="Variant.Outlined" Step=".1M" />
            </MudItem>
        }
        @if (context.Type == EstimateType.ThreePoint)
        {
            <MudItem xs="4" md="3">
                <MudNumericField @bind-Value="context.Best" Label="Best (a)" Variant="Variant.Outlined" Step=".5M" />
            </MudItem>
            <MudItem xs="4" md="3">
                <MudNumericField @bind-Value="context.Likely" Label="Likely (m)" Variant="Variant.Outlined" Step=".5M" />
            </MudItem>
            <MudItem xs="4" md="3">
                <MudNumericField @bind-Value="context.Worst" Label="Worst (b)" Variant="Variant.Outlined" Step=".5M" />
            </MudItem>
        }
        @if (context.Type == EstimateType.Percentage)
        {
            <MudItem xs="6" md="4">
                <MudNumericField @bind-Value="context.Percentage" Label="%" Variant="Variant.Outlined" Step="5M" />
            </MudItem>
            <MudItem xs="6" md="4">
                <MudSelect Label="Group" Variant="Variant.Outlined" @bind-Value="context.PercentageByGroupIndex">
                    @for (int k = 0; k < context.GroupIndex; k++)
                    {
                        var value = k;
                        var group = Project.Groups[k];
                        <MudSelectItem Value="value">
                            <MudText>@group</MudText>
                        </MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        }
        </MudGrid>
    </DialogContent>
</MudDialog>

<MudDivider Class="my-2" />

<MudGrid>
    <MudItem xs="4">
        <MudSelect @bind-Value="Project.ContingencyConfidence" Variant="Variant.Outlined" Label="Contingency Confidence Level">
            @foreach (var kv in ConfidenceIntervalMaps)
            {
                var key = kv.Key;
                var value = kv.Value;
                <MudSelectItem Value="key">@($"{key}% - {value} x SD")</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="4">
        <MudNumericField @bind-Value="Project.BreakdownRound" Label="Breakdown Round" Variant="Variant.Outlined" HideSpinButtons="true" />
    </MudItem>
    <MudItem xs="4">
        <MudNumericField @bind-Value="Project.TotalRound" Label="Total Round" Variant="Variant.Outlined" HideSpinButtons="true" />
    </MudItem>
</MudGrid>

@{
    var contingencyLabel = $"Contingency ({ConfidenceIntervalMaps[Project.ContingencyConfidence]} x SD)";
}

<MudTable Items="Project.Tasks" Breakpoint="Breakpoint.Xs" Dense="true">
    <HeaderContent>
        <MudTh>Category</MudTh>
        <MudTh>Item</MudTh>
        <MudTh>@ExpectedValueLabel</MudTh>
        <MudTh>@StandardDeviationLabel</MudTh>
            <MudTh>@contingencyLabel</MudTh>
        <MudTh>Man-days</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Category">@Project.Groups[context.GroupIndex]</MudTd>
        <MudTd DataLabel="Item">@context.Name</MudTd>
        <MudTd DataLabel="@ExpectedValueLabel">@context.ExpectedValue.RoundBy(Project.BreakdownRound)</MudTd>
        <MudTd DataLabel="@StandardDeviationLabel">@context.StandardDeviation.RoundBy(0.01M)</MudTd>
        <MudTd DataLabel="@contingencyLabel">@context.Contingency(Project.ContingencyConfidence).RoundBy(Project.BreakdownRound)</MudTd>
        <MudTd DataLabel="Man-days">@(context.ExpectedValue.RoundBy(Project.BreakdownRound) + context.Contingency(Project.ContingencyConfidence).RoundBy(Project.BreakdownRound))</MudTd>
    </RowTemplate>
</MudTable>

@{
    var sumExpected = Project.Tasks.Sum(t => t.ExpectedValue.RoundBy(Project.BreakdownRound));
    var sumContingency = Project.Tasks.Sum(t => t.Contingency(Project.ContingencyConfidence).RoundBy(Project.BreakdownRound));
    var actualContingency = Project.Contingency(Project.ContingencyConfidence).RoundBy(Project.BreakdownRound);
}

<MudGrid Class="my-2">
    <MudItem xs="12" md="3">
        <MudText Color="_summaryColor">Total Man-days</MudText>
    </MudItem>
    <MudItem xs="12" md="3">
        <MudText Color="_summaryColor">
            = @sumExpected (Sum of Expected)
            + @sumContingency (Sum of Contingencies)
            - @(sumContingency - actualContingency) (Cancellation of Contingencies)
        </MudText>
    </MudItem>
    <MudItem xs="12" md="3">
        <MudText Color="_summaryColor">
            = @(sumExpected + actualContingency)
        </MudText>
    </MudItem>
    <MudItem xs="12" md="3">
        <MudText Color="_summaryColor">
            = @((sumExpected + actualContingency).RoundBy(Project.TotalRound))
        </MudText>
    </MudItem>
</MudGrid>

@code {
    private const string ExpectedValueLabel = "Expected Value (E)";
    private const string StandardDeviationLabel = "Standard Deviation (SD)";
    private string ConfidenceIntervalLabel => $"{ConfidenceInterval}% Confidence Interval";

    private MudTable<EstimateTask> _table;

    private TableGroupDefinition<EstimateTask> _groupDefinition = new()
    {
        GroupName = "Group",
        Indentation = false,
        Expandable = true,
        IsInitiallyExpanded = true,
        Selector = (e) => e.GroupIndex
    };

    private Color _summaryColor = Color.Secondary;

    private EstimateProject Project = Controller.SampleProject().CalculateTasks();

    private bool _groupRenameDialog = false;
    private readonly DialogOptions _groupRenameDialogOptions = new() { FullWidth = true, CloseButton = true };
    private int _groupIndexToRename = -1;
    private void OpenRenameGroup(int groupIndex)
    {
        _groupIndexToRename = groupIndex;
        _groupRenameDialog = true;
    }

    private bool _taskEditDialog = false;
    private readonly DialogOptions _taskEditDialogOptions = new() { FullWidth = true, CloseButton = false, CloseOnEscapeKey = false, DisableBackdropClick = true };
    private EstimateTask _taskEdit;
    private void OpenEditTask(EstimateTask taskEdit)
    {
        _taskEdit = taskEdit;
        _taskEditDialog = true;
    }

    private void TaskEditCommit()
    {
        Project.CalculateTasks();
        _taskEditDialog = false;
    }

    private readonly EstimateType[] EstimateTypes 
        = Enum.GetValues(typeof(EstimateType)).Cast<EstimateType>()
        .ToArray();

    private readonly EstimateType[] EstimateTypesWithoutPercentage
        = Enum.GetValues(typeof(EstimateType)).Cast<EstimateType>()
        .Where(et => et != EstimateType.Percentage)
        .ToArray();

    private decimal ConfidenceInterval = 95;

    private async Task DownloadJson()
    {
        string fileName = (Project.Name ?? "") + " Estimates.json";
        using MemoryStream csvFileStream = new MemoryStream(
            Encoding.UTF8.GetBytes(Project.ToJson(beautify: true)));
        using var streamRef = new DotNetStreamReference(stream: csvFileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName.Trim(), streamRef);
    }

    private async Task UploadJson(IBrowserFile file)
    {
        using MemoryStream inputFileStream = new MemoryStream();
        await file.OpenReadStream(file.Size).CopyToAsync(inputFileStream);
        inputFileStream.Position = 0;
        using StreamReader reader = new StreamReader(inputFileStream, Encoding.UTF8);
        string json = reader.ReadToEnd();
        Project = json.FromJson<EstimateProject>().CalculateTasks();
    }


    private void SampleProject()
    {
        Project = Controller.SampleProject().CalculateTasks();
    }

    private void ClearProject()
    {
        Project = new();
    }
}
