@page "/chaos2048"
@using PeterDoStuff._2048
@inject IJSRuntime JS

<MudText Typo="Typo.h3" GutterBottom="true">
    <MudIcon Size="Size.Large" Icon="@Icons.Material.Outlined._2k" />
    Chaos 2048
</MudText>

<MudText Class="mb-4">
    <p>This page demonstrates the game 2048 (chaos).</p>
    <p>Due to the buggy animation, I have decided to turn it into chaos version.</p>
</MudText>

<div class="d-flex mb-4 align-center">
    <MudButton Class="mr-4" Color="Color.Primary" Variant="Variant.Filled" OnClick="NewGame">New Game</MudButton>
    <MudText Class="mr-8" Color="Color.Primary">Chaos</MudText>
    <MudSwitch @bind-Value="@isNormal" UnCheckedColor="Color.Primary" Color="Color.Success" />
    <MudText Color="Color.Success">Normal</MudText>
</div>

<style>
    .chaos-2048-block {
        left: 0;
        top: 0;
        transition: transform .4s ease-in-out;
    }
</style>

<div class="relative">
    @for (int y = 0; y < game.Height; y++)
    {
        <div class="d-flex">
            @for (int x = 0; x < game.Width; x++)
            {
                <MudPaper 
                    Class="border-solid border-2" 
                    Width="@($"{blockWidth}px")" 
                    Height="@($"{blockHeight}px")">
                </MudPaper>
            }
        </div>
    }
    @foreach (var block in game.Blocks)
    {
        var colors = GetChaosColors(block.Number);
        var backgroundColor = colors.Background;
        var textColor = colors.Text;
        var style = $"transform: translate3d({block.X * blockWidth}px, {block.Y * blockHeight}px, 0); background-color: {backgroundColor}; color: {textColor}";
        Typo typo = 
              block.Number < 100 ? Typo.h4 
            : block.Number < 1000 ? Typo.h5 
            : Typo.h6;
        <MudPaper 
            Class="border-solid border-2 absolute d-flex align-center justify-center chaos-2048-block"
            Width="@($"{blockWidth}px")" 
            Height="@($"{blockHeight}px")" 
            Style="@style">
            <MudText Typo="@typo">@block.Number</MudText>
        </MudPaper>
    }
</div>

@if (ShowSample)
{
    <div class="d-flex">
        @foreach (var block in SampleBlocks)
        {
            var colors = GetNormalColors(block.Number);
            var backgroundColor = colors.Background;
            var textColor = colors.Text;
            var style = $"background-color: {backgroundColor}; color: {textColor}";
            Typo typo = block.Number < 100 ? Typo.h4
                : block.Number < 1000 ? Typo.h5
                : Typo.h6;
            <MudPaper Class="border-solid border-2 d-flex align-center justify-center"
                      Width="@($"{blockWidth}px")"
                      Height="@($"{blockHeight}px")"
                      Style="@style">
                <MudText Typo="@typo">@block.Number</MudText>
            </MudPaper>
        }
    </div>
}

<MudText Class="mt-4" Typo="Typo.h5">Score: @game.Score</MudText>

@code {
    private bool isNormal;

    private Game game = new Game();

    private void NewGame()
    {
        game = new Game();
    }

    private int blockWidth = 80;
    private int blockHeight = 80;    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("keyDownFunction", DotNetObjectReference.Create(this), "KeyboardEventHandler");
            await JS.InvokeVoidAsync("swipeDetection", DotNetObjectReference.Create(this), "SwipeEventHandler");
        }
    }

    [JSInvokable]
    public void KeyboardEventHandler(string key)
    {
        if (key == "ArrowDown") game.Down();
        if (key == "ArrowUp") game.Up();
        if (key == "ArrowRight") game.Right();
        if (key == "ArrowLeft") game.Left();
        StateHasChanged();
    }

    [JSInvokable]
    public void SwipeEventHandler(string swipe)
    {
        if (swipe == "down") game.Down();
        if (swipe == "up") game.Up();
        if (swipe == "right") game.Right();
        if (swipe == "left") game.Left();
        StateHasChanged();
    }

    private bool ShowSample = false;
    private List<_2048.Block> SampleBlocks => new List<_2048.Block>()
    {
        new _2048.Block(0, new Game(), 2),
        new _2048.Block(0, new Game(), 4),
        new _2048.Block(0, new Game(), 8),
        new _2048.Block(0, new Game(), 16),
        new _2048.Block(0, new Game(), 32),
        new _2048.Block(0, new Game(), 64),
        new _2048.Block(0, new Game(), 128),
        new _2048.Block(0, new Game(), 256),
        new _2048.Block(0, new Game(), 512),
        new _2048.Block(0, new Game(), 1024),
        new _2048.Block(0, new Game(), 2048),
    };

    private (string Background, string Text) GetChaosColors(int number)
    {
        return number switch
        {
            2 => (Colors.DeepPurple.Lighten3, Colors.Green.Lighten5),
            4 => (Colors.DeepPurple.Lighten2, Colors.Green.Lighten5),
            8 => (Colors.DeepPurple.Lighten1, Colors.Green.Lighten5),
            16 => (Colors.DeepPurple.Darken1, Colors.LightGreen.Lighten5),
            32 => (Colors.DeepPurple.Darken2, Colors.LightGreen.Lighten5),
            64 => (Colors.DeepPurple.Darken3, Colors.LightGreen.Lighten5),
            128=> (Colors.DeepPurple.Darken4, Colors.Lime.Lighten5),
            256 => (Colors.Purple.Darken4, Colors.Lime.Lighten5),
            512 => (Colors.Pink.Darken4, Colors.Lime.Lighten5),
            1024 => (Colors.Red.Darken4, Colors.Yellow.Lighten5),
            _ => (Colors.DeepOrange.Darken4, Colors.Yellow.Lighten5)
        };
    }

    private (string Background, string Text) GetNormalColors(int number)
    {
        return number switch
        {
            2 => (Colors.LightGreen.Lighten3, Colors.Pink.Lighten5),
            4 => (Colors.LightGreen.Lighten2, Colors.Pink.Lighten5),
            8 => (Colors.LightGreen.Lighten1, Colors.Pink.Lighten5),
            16 => (Colors.LightGreen.Darken1, Colors.Purple.Lighten5),
            32 => (Colors.LightGreen.Darken2, Colors.Purple.Lighten5),
            64 => (Colors.LightGreen.Darken3, Colors.Purple.Lighten5),
            128 => (Colors.LightGreen.Darken4, Colors.DeepPurple.Lighten5),
            256 => (Colors.Lime.Darken4, Colors.DeepPurple.Lighten5),
            512 => (Colors.Yellow.Darken4, Colors.DeepPurple.Lighten5),
            1024 => (Colors.Amber.Darken4, Colors.Indigo.Lighten5),
            _ => (Colors.Orange.Darken4, Colors.Indigo.Lighten5)
        };
    }
}
