@page "/database"
@inject HttpClient Http
@using PeterDoStuff.Database
@using PeterDoStuff.MudWasmHosted.Shared
@using System.Reflection;

<PageTitle>Database</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Database</MudText>
<MudText Class="mb-8">This component demonstrates memory database of the server.</MudText>

@if (accessGranted)
{
    <MudButton Color="resultStatus" Variant="Variant.Filled" @onclick="ExecuteSql">Execute</MudButton>
    <br />
    <br />
    <MudTextField T="string" Label="SQL" Variant="Variant.Outlined" AutoGrow Lines="5"
        @bind-Value="sqlValue"
        Style="@($"font-family: {codeFontFamily}")" />

    <MudTextField T="string" Label="Result (JSON)" Variant="Variant.Outlined" AutoGrow Lines="10"
        @bind-Value="resultValue"
        Style="@($"font-family: {codeFontFamily}")" />

    <MudPaper Class="d-flex flex-column" Outlined="true">
        <MudList>
            <MudListItem>
                <div class="d-flex">
                    <MudText>Query:</MudText>
                    <MudText Inline="true" Class="ml-auto">@output?.Query?.Count()</MudText>
                </div>
            </MudListItem>
            <MudListItem>
                <div class="d-flex">
                    <MudText>Execute:</MudText>
                    <MudText Inline="true" Class="ml-auto">@output?.Execute</MudText>
                </div>
            </MudListItem>
            @if (error != null)
            {
                <MudListItem>
                    <MudTextField T="string" Label="Error" Variant="Variant.Outlined" ReadOnly="true" AutoGrow Lines="10"
                        @bind-Value="error"
                        Style="@($"font-family: {codeFontFamily}; color: {Colors.Red.Default}")" />
                </MudListItem>
            }
        </MudList>
    </MudPaper>

    @* @if (output != null && output.Query.Any())
    {
        var first = output.Query.First();
        IEnumerable<string> columns = ((TypeInfo)first.GetType()).DeclaredProperties.Select(p => p.Name);
        <MudTable Items="output.Query" Hover="true" SortLabel="Sort By" Elevation="0">
            <HeaderContent>
                @foreach (var column in columns)
                {
                    <MudTh><MudTableSortLabel SortBy="new Func<dynamic, object?>(x => x.GetType().GetProperty(column)?.GetValue(x, null))">@column</MudTableSortLabel></MudTh>
                }
            </HeaderContent>
            <RowTemplate>
                @foreach (var column in columns)
                {
                    <MudTd DataLabel="@column">@context.GetType().GetProperty(column)?.GetValue(@context, null)</MudTd>
                }
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    } *@
}
else
{
    <MudTextField T="string" Label="Access Key" Variant="Variant.Outlined" InputType="InputType.Password"
        @bind-Value="accessKey"
        @onkeydown="AccessEnter"
    />
    <br />
    <br />
    <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="AccessDatabase">Access</MudButton>
}

<LoadingOverlay @ref="loadingOverlay" />

@code {
    private bool accessGranted = false;
    private string accessKey = "";

    private async Task AccessEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
            await AccessDatabase();
    }

    private async Task AccessDatabase()
    {
        await loadingOverlay.Show("Accessing");
        await Task.Delay(200);
        if (accessKey == "access")
        {
            accessGranted = true;
            accessKey = "";
        }
        loadingOverlay.Hide();
    }

    private string resultValue, sqlValue = SqlCommand.SAMPLE_TEST_SQL;

    private MudBlazor.Color resultStatus = Color.Primary;

    private string codeFontFamily = "Fira Code, Consolas, Input, DejaVu Sans Mono, JetBrains Mono, and MonoLisa;";

    private LoadingOverlay loadingOverlay;

    private DbOutput output;
    private string error;

    private async Task ExecuteSql()
    {
        await loadingOverlay.Show("Executing");
        var response = await Http.PostAsJsonAsync<string>("Database", sqlValue);
        var success = response.StatusCode == System.Net.HttpStatusCode.OK;
        resultStatus = success
            ? Color.Success
            : Color.Error;
        resultValue = await response.Content.ReadAsStringAsync();
        error = success ? null : resultValue;
        output = success ? await response.Content.ReadFromJsonAsync<DbOutput>() : null;
        loadingOverlay.Hide();
    }
}
