@page "/2048"
@using PeterDoStuff._2048
@inject IJSRuntime JS

<MudText Typo="Typo.h3" GutterBottom="true">
    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.FontDownload" />
    2048
</MudText>

<MudText Class="mb-8">
    This page demonstrates the game 2048.
</MudText>

<style>
</style>

<div class="relative">
    @for (int y = 0; y < game.Height; y++)
    {
        <div class="d-flex">
            @for (int x = 0; x < game.Width; x++)
            {
                <MudPaper 
                    Class="border-solid border-2" 
                    Width="@($"{blockWidth}px")" 
                    Height="@($"{blockHeight}px")">
                </MudPaper>
            }
        </div>
    }
    @foreach (var block in game.Blocks)
    {
        var style = $"left: 0; top: 0; transition: transform .4s ease-in-out; transform: translate3d({block.X * blockWidth}px, {block.Y * blockHeight}px, 0); background-color: {BackgroundColor(block.Number)};";
        Typo typo = 
              block.Number < 100 ? Typo.h4 
            : block.Number < 1000 ? Typo.h5 
            : Typo.h6;
        <MudPaper 
            Class="border-solid border-2 absolute d-flex align-center justify-center" 
            Width="@($"{blockWidth}px")" 
            Height="@($"{blockHeight}px")" 
            Style="@style">
            <MudText Typo="@typo">@block.Number</MudText>
        </MudPaper>
    }
</div>

@code {
    private Game game = new Game();

    private int blockWidth = 80;
    private int blockHeight = 80;    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("keyDownFunction", DotNetObjectReference.Create(this), "KeyboardEventHandler");
    }

    [JSInvokable]
    public void KeyboardEventHandler(string key)
    {
        if (key == "ArrowDown") game.Down();
        if (key == "ArrowUp") game.Up();
        if (key == "ArrowRight") game.Right();
        if (key == "ArrowLeft") game.Left();
        StateHasChanged();
    }

    private string BackgroundColor(int number)
    {
        return number switch
        {
            2 => Colors.LightBlue.Lighten1,
            4 => Colors.LightBlue.Darken2,
            8 => Colors.Blue.Darken2,
            16 => Colors.Indigo.Darken2,
            32 => Colors.Indigo.Darken4,
            64 => Colors.DeepPurple.Darken4,
            128 => Colors.Purple.Accent3,
            256 => Colors.Pink.Accent3,
            512 => Colors.Red.Accent4,
            1024 => Colors.Orange.Darken4,
            _ => Colors.Amber.Darken1
        };
    }
}
