@page "/mobile"
@inject IJSRuntime JS

<PageTitle>Like a Mobile App</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">
    <MudIcon Size="Size.Large" Icon="@Icons.Material.TwoTone.Smartphone" />
    Like a Mobile App
</MudText>
<MudText Class="mb-8">This component demonstrates how a web page can perform mobile app features like opening camera or GPS.</MudText>

<MudButton OnClick="ToggleCamera" Variant="Variant.Filled" Color="Color.Primary"
    EndIcon="@(cameraState != CAMERA_STATE_INPROGRESS ? Icons.Material.Filled.CameraAlt : null)">
    @if (cameraState == CAMERA_STATE_CLOSE) 
    {
        <div>Open</div>
    }
    else if (cameraState == CAMERA_STATE_OPEN)
    {
        <div>Close</div>
    }
    else // In Progress
    {
        <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
    }
</MudButton>

@if (cameraBlocked)
{
    <MudText Class="mb-8" Color="Color.Error">
        Camera blocked. Check the Console Error for more info. @cameraBlockedError
    </MudText>
}

<br />
<br />
<video id="@videoElementId" autoplay="autoplay" style="width: 480px; height: auto;"></video>

<br />
<br />

@if (cameraState == CAMERA_STATE_OPEN)
{
    <MudButton OnClick="CaptureImage" Color="Color.Primary" Variant="Variant.Filled" EndIcon="@(captureInProgress == false ? Icons.Material.Filled.Camera : null)">
        @if (captureInProgress)
        {
            <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
        }
        else
        {
            <div>Capture</div>
        }
    </MudButton>
    <br />
    <br />
    @if (imageSrc != null)
    {
        <img src="@imageSrc" style="width: 480px; height: auto;" />
    }
}

<MudButton Variant="Variant.Filled" Color="Color.Primary" 
    EndIcon="@(locationInProgress == false ? Icons.Material.Filled.LocationOn : null)" 
    OnClick="GetLocation">
    @if (locationInProgress)
    {
        <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
    }
    else
    {
        <div>Get Location</div>
    }
</MudButton>
@if (locationBlocked != "")
{
    <MudText Class="mb-8" Color="Color.Error">
        Location blocked. Check the Console Error for more info. @locationBlocked
    </MudText>
}
<MudText Class="mb-8">Longitude: @longitude</MudText>
<MudText Class="mb-8">Latitude: @latitude</MudText>

@code {
    private string videoElementId = "videoElement";
    private int cameraState = CAMERA_STATE_CLOSE;
    private const int CAMERA_STATE_CLOSE = 0;
    private const int CAMERA_STATE_OPEN = 1;
    private const int CAMERA_STATE_INPROGRESS = 2;
    private bool cameraBlocked = false;
    private string cameraBlockedError = "";

    private async Task ToggleCamera()
    {
        if (cameraState == CAMERA_STATE_CLOSE)
            await OpenCamera();
        else if (cameraState == CAMERA_STATE_OPEN)
            await CloseCamera();
    }

    private async Task OpenCamera()
    {
        cameraState = CAMERA_STATE_INPROGRESS;
        bool success;
        try
        {
            success = await JS.InvokeAsync<bool>("openCameraStream", videoElementId);
        }
        catch (Exception ex)
        {
            success = false;
            cameraBlockedError = ex.GetType().ToString() + ": " + ex.Message;
        }
        await Task.Delay(200);
        cameraState = success ? CAMERA_STATE_OPEN : CAMERA_STATE_CLOSE;
        cameraBlocked = !success;
    }

    private async Task CloseCamera()
    {        
        cameraState = CAMERA_STATE_INPROGRESS;
        await JS.InvokeVoidAsync("closeCameraStream", videoElementId);
        await Task.Delay(200);
        cameraState = CAMERA_STATE_CLOSE;
    }

    private bool captureInProgress = false;
    private string imageSrc = "";

    private async Task CaptureImage()
    {
        captureInProgress = true;
        await Task.Delay(200);
        imageSrc = await JS.InvokeAsync<string>("captureImage", videoElementId);
        captureInProgress = false;
    }

    private double longitude, latitude;
    private string locationBlocked = "";
    private bool locationInProgress = false;

    private async Task GetLocation()
    {
        locationInProgress = true;
        await Task.Delay(200);
        try
        {
            // Call JavaScript function to request location permission
            bool permissionGranted = await JS.InvokeAsync<bool>("requestLocationPermission");
            if (permissionGranted)
            {
                // Location permission granted, proceed to get location coordinates
                await GetLocationCoordinates();
            }
            else
            {
                // Location permission denied, handle accordingly
                Console.WriteLine("Location permission denied.");
                locationBlocked = "Location permission denied.";
                locationInProgress = false;
            }
        }
        catch (Exception ex)
        {
            // Handle JavaScript interop exception
            Console.WriteLine($"JavaScript interop exception: {ex.Message}");
            locationBlocked = $"{ex.GetType()}: {ex.Message}";
            locationInProgress = false;
        }
    }

    private async Task GetLocationCoordinates()
    {
        try
        {
            // Call JavaScript function to get location coordinates
            var location = await JS.InvokeAsync<IDictionary<string, double>>("getLocationCoordinates");
            longitude = location["longitude"];
            latitude = location["latitude"];
            locationBlocked = "";
            locationInProgress = false;
        }
        catch (Exception ex)
        {
            // Handle JavaScript interop exception
            Console.WriteLine($"JavaScript interop exception: {ex.Message}");
            locationBlocked = $"{ex.GetType()}: {ex.Message}";
            locationInProgress = false;
        }
    }

}
