@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="DarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudTooltip Text="Home" Color="Color.Primary" Placement="Placement.Bottom">
            <MudLink Href="/" Class="ml-4">
                <MudImage Width="35" Height="35"
                    Src="images/logo.png"
                    Class="border-solid rounded-circle border-2 mt-1"></MudImage>
            </MudLink>
        </MudTooltip>
        <MudSpacer />
        <MudTooltip Text="Light/Dark Mode" Color="Color.Primary" Placement="Placement.Bottom">
            <MudIconButton Icon="@DarkModeIcon" Color="Color.Inherit" OnClick="SwitchDarkMode" />
        </MudTooltip>
        <MudTooltip Text="Repository" Color="Color.Primary" Placement="Placement.Bottom">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/xuanphuoc92/PeterDoStuff" Target="_blank" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Peter Do Stuff</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4 mb-16 pt-4">
            <style>
                .main-graphics
                {
                    position: fixed;
                    z-index: -1; 
                    display: grid;
                    inset: 0;
                }
                .main-graphics svg
                {
                    width: 512px;
                    height: 512px;
                }
                .main-graphics-flex-start
                {
                    place-content: flex-start;
                }
                .main-graphics-flex-start div
                {
                    transform: translate(-110px, -10px);
                }
                .main-graphics-flex-start div svg
                {
                    animation: 25s linear infinite sun-spin;
                }
                .main-graphics-flex-end
                {
                    place-content: flex-end;
                }
                .main-graphics-flex-end div
                {
                    transform: translate(75px, 75px);
                }
                .main-graphics-flex-end div svg
                {
                    animation: 10s linear infinite moon-spin;
                }
                .main-graphics-visible
                {
                    opacity: 0.3;
                    transition-property: opacity;
                    transition-duration: 1s;
                    transition-timing-function: ease-in-out;
                }
                .main-graphics-hidden
                {
                    opacity: 0;
                    transition-property: opacity;
                    transition-duration: 1s;
                    transition-timing-function: ease-in-out;
                }
                @@keyframes sun-spin {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(1turn);
                    }
                }
                @@keyframes moon-spin {
                    0% {
                        transform: rotate(-45deg);
                    }
                    50% {
                        transform: rotate(45deg);
                    }
                    100% {
                        transform: rotate(-45deg);
                    }
                }
            </style>
            <div style="position: relative">
                <div class="main-graphics main-graphics-flex-start @(SunGraphics)">
                    <div>
                        <svg width="2048"
                             height="2047.9999"
                             viewBox="0 0 541.86665 541.86663"
                             version="1.1"
                             id="svg1"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:svg="http://www.w3.org/2000/svg">
                            <defs id="defs1" />
                            <g id="g13"
                               style="display:inline">
                                <g id="g4">
                                    <path id="path13"
                                          d="m 479.58006,109.49486 c -10.24211,8.51602 -11.96606,27.92094 -21.3528,46.13194 -4.44744,8.62836 -9.74477,15.33747 -16.43691,20.24442 -6.63842,4.86746 -13.91763,7.42448 -21.6317,9.01585 -7.18886,1.48303 -15.74037,2.2447 -22.23721,3.05659 -7.22982,0.9035 -12.74348,1.90904 -17.84571,3.46317 -9.63401,2.93449 -14.26067,6.89741 -14.26067,6.89741 m -19.85817,-20.19169 c 8.5815,5.89834 16.8424,14.5599 23.87184,26.44864 6.40329,10.82973 9.67383,20.90743 9.67383,20.90743 11.94835,-7.72751 24.11099,-9.35791 41.88177,-14.11306 7.91983,-2.11923 15.39439,-4.69256 22.12118,-9.22685 6.76819,-4.5622 12.2665,-10.77876 16.71453,-19.16189 4.44174,-8.3713 7.31813,-17.93184 9.41432,-27.73329 1.92765,-9.01353 3.37487,-19.43518 4.4606,-25.89474 2.41755,-14.38315 5.48514,-19.84388 5.48514,-19.84388 -10.73432,3.28366 -18.74775,18.62088 -26.41448,27.51819 -9.15332,10.62245 -18.77757,16.16541 -32.28444,19.14412 -13.16892,2.90417 -26.72621,2.91889 -40.4228,5.72449 -13.954,2.85835 -24.64042,7.89404 -34.50149,16.23084 z m 184.62609,56.27485 c -13.19758,2.52411 -24.16992,18.37708 -41.18518,30.00205 -8.0649,5.51 -15.93067,8.98445 -24.19549,10.21623 -8.19419,1.22123 -15.87196,0.0996 -23.49899,-2.1261 -7.2,-2.10105 -15.00902,-5.44697 -21.28788,-7.91958 -6.89316,-2.71452 -12.27025,-4.54951 -17.56812,-5.70632 -9.98576,-2.18046 -15.99106,-0.90562 -15.99106,-0.90562 m -6.91171,-31.21091 c 3.81877,11.14003 6.74419,24.48619 7.58567,39.25681 0.76927,13.50324 -0.58849,23.95419 -0.58849,23.95419 14.0914,-1.37068 25.74756,2.82293 43.70693,6.7967 8.0115,1.77267 15.82629,2.93522 23.88568,2.01307 8.1157,-0.9286 15.86305,-3.91119 23.73636,-9.28937 7.85463,-5.36542 14.91952,-12.4931 21.44273,-20.11926 6.83538,-7.99113 11.4775,-14.3927 16.37886,-20.48352 9.07969,-11.28309 14.4907,-14.47836 14.4907,-14.47836 -11.17452,-2.17526 -25.54595,7.19785 -36.73065,11.35748 -13.22629,4.91893 -24.45937,5.30156 -37.85077,1.38827 -13.06659,-3.81837 -25.05168,-10.55826 -38.34533,-15.36878 -13.5447,-4.90137 -25.13752,-6.60627 -37.71168,-5.02723 z m 135.90891,141.24748 c -12.7185,-3.96676 -29.94037,5.14651 -50.36932,7.22768 -9.69169,0.98732 -18.18934,0.17743 -25.94211,-2.81867 -7.67396,-2.96564 -13.75585,-7.74282 -19.26293,-13.34935 -5.08587,-5.17774 -10.47836,-12.00912 -14.6572,-16.93113 -4.69552,-5.53055 -8.57058,-9.6055 -12.64912,-13.02475 -7.72153,-6.47332 -13.55807,-8.20371 -13.55807,-8.20371 m 7.37392,-29.59923 c -1.38943,11.62361 -4.47107,24.43289 -10.37455,36.27572 -5.42216,10.87728 -11.85516,17.52841 -11.85516,17.52841 13.1267,6.78691 20.36557,15.47198 34.08778,28.51078 2.31202,2.19687 4.63809,4.29966 7.02936,6.24045 0,0 0,0 0,0 0,0 0,1e-5 0,1e-5 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 10e-6,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 1e-5,0 1e-5,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0.0889,0.0721 0.17777,0.144 0.26682,0.21568 0,0 0,0 0,0 3.7428,3.01267 7.7289,5.68933 12.20871,7.75076 7.48647,3.44496 15.68044,4.85352 25.21197,4.08972 9.51381,-0.76236 19.17281,-3.60491 28.60214,-7.25142 8.50394,-3.28862 18.39674,-7.9471 24.25093,-10.4933 13.38908,-5.82338 19.63681,-6.16765 19.63681,-6.16765 -8.63118,-7.21119 -25.79234,-5.61679 -37.46245,-7.21011 -13.89341,-1.89687 -23.78707,-6.94462 -33.63799,-16.6548 -9.60581,-9.46852 -17.00841,-20.84045 -26.60359,-31.12391 -9.75828,-10.45826 -19.41893,-17.31186 -31.3608,-21.71034 z m 45.58267,188.29454 c -8.51603,-10.24211 -27.92094,-11.96605 -46.13199,-21.35279 -8.62836,-4.44744 -15.3375,-9.74474 -20.24443,-16.43693 -4.86749,-6.63842 -7.42451,-13.91763 -9.01591,-21.63171 -1.48304,-7.18888 -2.24473,-15.74038 -3.05663,-22.23724 -0.9035,-7.2298 -1.90904,-12.74351 -3.46317,-17.84574 -2.93449,-9.634 -6.89745,-14.26066 -6.89745,-14.26066 m 20.19191,-19.85824 c -5.89843,8.58148 -14.56009,16.84243 -26.44888,23.87194 -10.82978,6.40332 -20.90751,9.67395 -20.90751,9.67395 7.72757,11.94831 9.35798,24.111 14.11321,41.88177 2.11923,7.9198 4.6926,15.39438 9.22692,22.12116 4.56222,6.76818 10.7788,12.26649 19.16195,16.7145 8.37133,4.44171 17.93188,7.31811 27.73333,9.41428 9.01351,1.92764 19.43521,3.37485 25.89475,4.46057 14.38315,2.41755 19.84389,5.48515 19.84389,5.48515 -3.2837,-10.73434 -18.62092,-18.74777 -27.51822,-26.41451 -10.62249,-9.1533 -16.16547,-18.77755 -19.14419,-32.28444 -2.90418,-13.16894 -2.91891,-26.72623 -5.72451,-40.42286 -2.85832,-13.954 -7.89398,-24.64043 -16.23074,-34.50151 z m -56.27471,184.62636 c -2.52417,-13.19757 -18.37718,-24.16985 -30.0022,-41.18507 -5.51005,-8.06489 -8.98451,-15.93063 -10.2163,-24.19545 -1.22126,-8.19418 -0.0996,-15.87195 2.126,-23.49898 2.10102,-7.20001 5.44692,-15.00905 7.91949,-21.28794 2.71448,-6.89317 4.54946,-12.27024 5.70626,-17.56813 2.18043,-9.98576 0.90556,-15.99106 0.90556,-15.99106 m 31.21093,-6.91192 c -11.14006,3.81884 -24.48622,6.74436 -39.25683,7.58592 -13.50323,0.76937 -23.95413,-0.58835 -23.95413,-0.58835 1.37072,14.09138 -2.82286,25.74755 -6.79658,43.70691 -1.77263,8.01151 -2.93513,15.82627 -2.01297,23.88567 0.92861,8.11569 3.91124,15.86303 9.28944,23.73631 5.36543,7.85462 12.49314,14.91947 20.11933,21.44265 7.99116,6.83534 14.39278,11.47738 20.48361,16.37875 11.2831,9.0797 14.47842,14.49067 14.47842,14.49067 2.17521,-11.17452 -7.19795,-25.54593 -11.35762,-36.73061 -4.91899,-13.22628 -5.30165,-24.45937 -1.38841,-37.85078 3.81832,-13.06661 10.55817,-25.0517 15.36864,-38.34542 4.90133,-13.54472 6.60622,-25.13757 5.02713,-37.71175 z M 173.88161,515.85384 c 3.96676,-12.71849 -5.14657,-29.94034 -7.22776,-50.36925 -0.98732,-9.69169 -0.17745,-18.18931 2.81864,-25.9421 2.96564,-7.67396 7.74282,-13.75584 13.34934,-19.26291 5.17774,-5.08588 12.00911,-10.47838 16.93108,-14.65721 5.53055,-4.69551 9.60549,-8.57056 13.02469,-12.6491 6.4733,-7.72153 8.20368,-13.55807 8.20368,-13.55807 m 29.5991,7.37379 c -11.62357,-1.38936 -24.43278,-4.47092 -36.27552,-10.3744 -10.87722,-5.42214 -17.52825,-11.85516 -17.52825,-11.85516 -6.78697,13.12672 -15.47199,20.36554 -28.51082,34.08776 -2.18004,2.29429 -4.26735,4.60235 -6.19553,6.97404 0,0 -2e-5,0 -2e-5,0 -0.10209,0.12557 -0.20374,0.25134 -0.30497,0.37733 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,2e-5 0,2e-5 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -2e-5,0 -2e-5,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -1e-5,10e-6 -1e-5,10e-6 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -2.99429,3.7267 -5.65497,7.6955 -7.70636,12.1535 -3.44496,7.48645 -4.85354,15.68042 -4.08976,25.21196 0.76236,9.51381 3.60492,19.17279 7.25144,28.6021 3.28868,8.50395 7.94714,18.3967 10.49335,24.25092 5.82343,13.38905 6.1677,19.63677 6.1677,19.63677 7.21119,-8.6312 5.61672,-25.79233 7.21003,-37.46243 1.89685,-13.89338 6.94458,-23.78702 16.65473,-33.63796 9.46852,-9.60581 20.84042,-17.00842 31.12382,-26.60361 10.4582,-9.75831 17.31176,-19.41897 21.71019,-31.36085 z m -188.294206,45.5825 c 10.242107,-8.51599 11.966115,-27.9209 21.3529,-46.13189 4.447437,-8.62834 9.744779,-15.33745 16.437016,-20.24433 6.63843,-4.86745 13.91764,-7.42444 21.63172,-9.01581 7.18886,-1.483 15.74038,-2.24466 22.23722,-3.05655 7.22979,-0.90346 12.74349,-1.90897 17.84573,-3.46311 9.63399,-2.93447 14.26066,-6.89738 14.26066,-6.89738 m 19.85813,20.19175 c -8.58148,-5.89836 -16.84238,-14.55996 -23.87178,-26.44871 -6.40326,-10.82973 -9.67382,-20.90746 -9.67382,-20.90746 -11.94832,7.72749 -24.11099,9.35785 -41.8818,14.11298 -7.9198,2.1192 -15.39436,4.69252 -22.121168,9.2268 -6.768213,4.5622 -12.266534,10.77875 -16.714568,19.16186 -4.44177,8.37131 -7.318187,17.93183 -9.414371,27.73328 -1.927682,9.01351 -3.374912,19.43518 -4.460661,25.89472 -2.417592,14.38315 -5.485194,19.84387 -5.485194,19.84387 10.734324,-3.28365 18.747802,-18.62083 26.414552,-27.51812 9.15333,-10.62243 18.7776,-16.16537 32.28448,-19.14406 13.1689,-2.90414 26.72621,-2.91883 40.4228,-5.72442 13.95402,-2.8583 24.64043,-7.89396 34.50153,-16.23074 z M 11.283564,307.47893 c 13.197561,-2.52409 24.169946,-18.37705 41.185212,-30.00197 8.064915,-5.51001 15.930684,-8.98444 24.195522,-10.21619 8.194177,-1.22122 15.871941,-0.0995 23.498962,2.12614 7.2,2.10105 15.00904,5.447 21.2879,7.91961 6.89315,2.71453 12.27021,4.54952 17.5681,5.70636 9.98574,2.18047 15.99106,0.90565 15.99106,0.90565 m 6.91166,31.21092 c -3.81876,-11.14004 -6.74416,-24.4862 -7.58563,-39.25682 -0.76923,-13.50325 0.58855,-23.95418 0.58855,-23.95418 -14.09139,1.37064 -25.74757,-2.82299 -43.70692,-6.79681 -8.01149,-1.77268 -15.826285,-2.93522 -23.885671,-2.0131 -8.115711,0.92857 -15.863066,3.91118 -23.736391,9.28933 -7.854644,5.36541 -14.919526,12.49309 -21.442743,20.11922 -6.835401,7.99112 -11.477492,14.3927 -16.378864,20.48352 -9.079705,11.28311 -14.490706,14.47835 -14.490706,14.47835 11.174502,2.17527 25.545947,-7.19782 36.73065,-11.35743 13.226299,-4.9189 24.459396,-5.3015 37.850794,-1.38819 13.066561,3.81839 25.051621,10.55831 38.345301,15.36885 13.54468,4.9014 25.13751,6.60634 37.71167,5.0273 z M 26.013326,173.88172 c 12.718489,3.96679 29.940373,-5.14646 50.369332,-7.22758 9.691704,-0.98729 18.189315,-0.17739 25.942112,2.81872 7.67395,2.96565 13.75583,7.74284 19.2629,13.34938 5.08589,5.17777 10.47834,12.00915 14.65717,16.93116 4.6955,5.53056 8.57054,9.60551 12.64907,13.02479 7.72152,6.47331 13.55807,8.20372 13.55807,8.20372 m -7.37399,29.59921 c 1.38946,-11.62358 4.4711,-24.43286 10.37461,-36.27568 5.4222,-10.87726 11.85522,-17.52836 11.85522,-17.52836 -13.12668,-6.78696 -20.36554,-15.47202 -34.08771,-28.51087 -2.28067,-2.1671 -4.57489,-4.24253 -6.93159,-6.16101 0,0 0,0 0,0 -0.15371,-0.12516 -0.30777,-0.24965 -0.46213,-0.37354 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -1e-5,1e-5 -1e-5,1e-5 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -2e-5,-1e-5 -2e-5,-1e-5 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,-2e-5 0,-2e-5 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -3.71417,-2.98041 -7.66987,-5.62868 -12.11114,-7.67237 -7.48645,-3.44497 -15.68042,-4.85355 -25.211973,-4.08979 -9.513812,0.76233 -19.172804,3.60487 -28.602135,7.25135 -8.503959,3.28863 -18.396767,7.94707 -24.250957,10.49325 -13.389097,5.82336 -19.636829,6.16764 -19.636829,6.16764 8.631186,7.21121 25.792327,5.61682 37.462441,7.21016 13.893394,1.8969 23.787035,6.94467 33.637964,16.65489 9.605769,9.46854 17.008339,20.84048 26.603519,31.12397 9.75826,10.45827 19.41889,17.31186 31.36074,21.71038 z M 109.49574,62.286511 c 8.51601,10.242121 27.92092,11.966115 46.13192,21.352886 8.62838,4.447437 15.3375,9.744779 20.24436,16.437023 4.86748,6.63844 7.42449,13.91766 9.01587,21.63172 1.48303,7.1889 2.24469,15.7404 3.05659,22.23727 0.90348,7.22982 1.909,12.74351 3.46313,17.84575 2.93449,9.63401 6.8974,14.26069 6.8974,14.26069 m -20.19196,19.85816 c 5.89846,-8.58145 14.56013,-16.84239 26.44896,-23.87186 10.82979,-6.4033 20.90753,-9.67391 20.90753,-9.67391 -7.72754,-11.94831 -9.35794,-24.11102 -14.11312,-41.8818 -2.11922,-7.91983 -4.69257,-15.39441 -9.22688,-22.12119 -4.56221,-6.7682 -10.77876,-12.266507 -19.16191,-16.714541 -8.37132,-4.441742 -17.93188,-7.318117 -27.73331,-9.414315 -9.01353,-1.927682 -19.43522,-3.374898 -25.89475,-4.460647 -14.38316,-2.417578 -19.84388,-5.48518 -19.84388,-5.48518 3.28367,10.734337 18.62088,18.747802 27.51817,26.414565 10.62248,9.153317 16.16543,18.777588 19.14412,32.284478 2.90415,13.16895 2.91885,26.72624 5.72441,40.42286 2.85829,13.95401 7.89391,24.64044 16.23066,34.50154 z M 234.3881,11.28372 c 2.52413,13.197558 18.37713,24.169891 30.00212,41.185129 5.51003,8.064901 8.9845,15.930656 10.21628,24.19548 1.22124,8.194164 0.0996,15.871928 -2.12607,23.498961 -2.10102,7.20001 -5.44694,15.00904 -7.91952,21.2879 -2.71451,6.89317 -4.54949,12.27025 -5.7063,17.56814 -2.18043,9.98576 -0.90557,15.99108 -0.90557,15.99108 m -31.21096,6.91185 c 11.14005,-3.81883 24.48624,-6.74432 39.25683,-7.58587 13.50323,-0.76932 23.95413,0.58841 23.95413,0.58841 -1.37068,-14.09138 2.82291,-25.74755 6.79666,-43.7069 1.77266,-8.01151 2.93518,-15.82627 2.01302,-23.885657 -0.92858,-8.115683 -3.9112,-15.863038 -9.28937,-23.736335 -5.36543,-7.854616 -12.49314,-14.919485 -20.1193,-21.442673 -7.99115,-6.835374 -14.39278,-11.477398 -20.48352,-16.378878 -11.28312,-9.079702 -14.4784,-14.49067 -14.4784,-14.49067 -2.17525,11.174498 7.19791,25.545925 11.35755,36.730614 4.91896,13.226285 5.30159,24.459395 1.38832,37.850794 -3.81833,13.066588 -10.55821,25.051675 -15.36871,38.345375 -4.90134,13.54473 -6.60625,25.13757 -5.02719,37.71176 z M 367.98539,26.013193 c -3.96676,12.718486 5.14652,29.940357 7.22765,50.369274 0.98733,9.691705 0.17743,18.189316 -2.81869,25.942103 -2.96566,7.67394 -7.74284,13.75581 -13.34938,19.26288 -5.17775,5.08586 -12.00912,10.47833 -16.93111,14.65715 -5.53054,4.69552 -9.60548,8.57057 -13.02472,12.64909 -6.47331,7.72151 -8.2037,13.55804 -8.2037,13.55804 m -29.59907,-7.37386 c 11.62354,1.38941 24.43276,4.471 36.27551,10.37448 10.87715,5.42218 17.52817,11.85521 17.52817,11.85521 6.787,-13.1267 15.47204,-20.3655 28.51091,-34.08768 5.66468,-5.96155 10.79972,-12.10045 14.20697,-19.50487 3.445,-7.48646 4.85356,-15.68043 4.0898,-25.211968 -0.76234,-9.513811 -3.60488,-19.172804 -7.25137,-28.602121 -3.28866,-8.503945 -7.94712,-18.396711 -10.4933,-24.250929 -5.8234,-13.389077 -6.16767,-19.636799 -6.16767,-19.636799 -7.21119,8.631183 -5.61678,25.792311 -7.21011,37.462425 -1.89687,13.89338 -6.94463,23.787007 -16.65481,33.637922 -9.46851,9.60578 -20.84043,17.00838 -31.12385,26.60357 -10.45824,9.75825 -17.31179,19.41891 -21.71025,31.36076 z"
                                          style="display:inline;fill:#7E6FFF;fill-rule:evenodd;stroke:#7E6FFF;stroke-width:4.16709;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1" />
                                    <circle style="fill:none;fill-rule:evenodd;stroke:#7E6FFF;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none"
                                            id="path3"
                                            cx="270.93332"
                                            cy="270.93332"
                                            r="116.79324" />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="main-graphics main-graphics-flex-end @(MoonGraphics)">
                    <div>
                        <svg width="256"
                             height="256"
                             viewBox="0 0 541.86665 541.86663"
                             version="1.1"
                             id="svg1">
                            <defs id="defs1" />
                            <g id="g13"
                               style="display:inline">
                                <path id="path12"
                                      style="display:inline;fill:#7E6FFF;fill-rule:evenodd;stroke:#7E6FFF;stroke-width:4.16709;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
                                      d="m 241.22278,103.15337 c 28.90412,2.48776 60.52266,14.51966 82.28438,33.81826 48.73188,43.27899 67.67058,131.26779 25.87239,170.94294 -11.80578,11.20612 -47.83621,-9.81225 -47.83621,-9.81225 0,0 25.04244,33.14706 15.36115,46.15392 -34.3968,46.21224 -123.95474,37.94361 -172.74589,-5.22043 -21.5602,-19.27705 -37.10922,-48.95224 -42.98643,-77.19712 1.53389,42.68634 21.28459,86.884 53.13876,115.34077 64.79812,57.51318 163.95096,51.60776 221.4644,-13.19014 C 433.2888,299.19146 427.38384,200.03858 362.58619,142.52486 330.50455,114.07354 283.95426,99.585305 241.22278,103.15337 Z m 0,0 c 30.45972,1.65898 59.46127,13.57839 82.28438,33.81826 48.73188,43.27899 67.67058,131.26779 25.87239,170.94294 -11.80578,11.20612 -47.83621,-9.81225 -47.83621,-9.81225 0,0 25.04244,33.14706 15.36115,46.15392 -34.3968,46.21224 -123.95474,37.94361 -172.74589,-5.22043 -22.57711,-20.18631 -37.7161,-47.37369 -42.98643,-77.19712 -5.65217,57.29891 16.39706,113.85222 59.34189,152.20393 74.48498,66.11142 188.46083,59.32341 254.57239,-15.16144 C 481.19788,324.3962 474.40987,210.42034 399.92501,144.30878 356.6792,105.94499 297.66219,90.640412 241.22278,103.15337 Z" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div style="position: absolute">
                    @Body
                </div>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    bool DarkMode = true;

    string DarkModeIcon => DarkMode ? Icons.Material.Filled.Brightness4 : Icons.Material.Filled.BrightnessHigh;

    private void SwitchDarkMode() => DarkMode = !DarkMode;

    string SunGraphics => !DarkMode ? "main-graphics-visible" : "main-graphics-hidden";
    string MoonGraphics => DarkMode ? "main-graphics-visible" : "main-graphics-hidden";
}