@inject IJSRuntime JS

<MudButton Variant="Variant.Filled" Color="Color.Primary"
           EndIcon="@(locationInProgress == false ? Icons.Material.Filled.LocationOn : null)"
           OnClick="GetLocation">
    @if (locationInProgress)
    {
        <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
    }
    else
    {
        <div>Get Location</div>
    }
</MudButton>

@if (locationBlocked != "")
{
    <MudText Class="mb-8" Color="Color.Error">
        Location blocked. Check the Console Error for more info. @locationBlocked
    </MudText>
}

<MudText Class="mb-8">Longitude: @longitude</MudText>
<MudText Class="mb-8">Latitude: @latitude</MudText>

<script src="@googleMapApi" defer></script>
<div id="@mapDivId" style="@mapDivStyle"></div>

@code {
    private double longitude, latitude;
    private string locationBlocked = "";
    private bool locationInProgress = false;

    private async Task GetLocation()
    {
        locationInProgress = true;
        await Task.Delay(200);
        try
        {
            // Call JavaScript function to get location coordinates
            var location = await JS.InvokeAsync<IDictionary<string, double>>("getLocationCoordinates");
            longitude = location["longitude"];
            latitude = location["latitude"];
            locationBlocked = "";
            locationInProgress = false;
            await ShowMap(longitude, latitude);
        }
        catch (Exception ex)
        {
            // Handle JavaScript interop exception
            Console.WriteLine($"JavaScript interop exception: {ex.Message}");
            locationBlocked = $"{ex.GetType()}: {ex.Message}";
            locationInProgress = false;
        }
    }

    private string mapDivId = "map";
    private string mapDivStyle = "display: none";
    private string mapInteropMethod = "loadMapWithMarker";
    private string googleMapApiKey = "AIzaSyDt-GrgNsRkgZdSJ5jmZO5x1PS20E4H_CU";

    private string googleMapApi
    {
        get
        {
            return $"https://maps.googleapis.com/maps/api/js?key={googleMapApiKey}&callback={mapInteropMethod}";
        }
    }

    private async Task ShowMap(double longitude, double latitude)
    {
        mapDivStyle = "height: 400px;";
        await JS.InvokeVoidAsync(mapInteropMethod, mapDivId, latitude, longitude);
    }
}
